.formButton {
  padding: 8px 12px;
  width: 120px;
  border: 1px solid #1A535C;
  border-radius: 0 4px 4px 0;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #1A535C;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  cursor: pointer;
}